@tailwind base;
@tailwind components;
@tailwind utilities;

#heroe {
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 572px) {
  #heroe {
    background-image: url("../images/mobile/image-hero.jpg");
    background-position: center;
  }
}

/* Hamburger menu */
.hamburger {
  position: relative;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  background: white;
  transform: rotate(0deg);
  transition: all 0.5s;
}

.hamburger-top {
  top: -4px;
}

.hamburger-bottom {
  top: 4px;
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg);
  transform: translateY(4px) translateX(4);
}

.open .hamburger-bottom {
  display: none;
}

.open .hamburger-middle {
  transform: rotate(-45deg) translateY(-4px) translateX(4px);
}
